html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    background-image: url(https://image.freepik.com/vrije-vector/abstracte-metalen-moderne-rood-zwart-frame-ontwerp-innovatie-concept-lay-out-achtergrond_43969-1079.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


/* Header */

.filmzoeker {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filmzoekerTitle {
    text-align: center;
    font-size: 50px;
    color: rgb(203, 228, 250);
    background-color: rgba(0, 0, 0, 0.342);
    margin: 0;
    padding: 10px 0 5px 0;
}

.FilmCategorieen {
    margin: 5px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    list-style: none;
    width: 100%;
}

.FilmCategorieen li {
    width: 250px;
    height: 30px;
    text-align: center;
    letter-spacing: 2px;
    border: 2px solid rgb(187, 219, 248);
    padding-top: 7px;
}

.button {
    text-decoration: none;
    color: rgb(187, 219, 248);
    font-size: 18px;
    padding: 9px 50px;
}

.FilmCategorieen li:hover,
.FilmCategorieen a:hover {
    background-color: rgb(187, 219, 248);
    color: rgba(0, 0, 0, 0.342);
}


/* main */

main {
    margin: 0 30px;
}

.titleMovies {
    color: rgb(187, 219, 248);
    text-align: center;
    font-size: 40px;
    text-shadow: 6px 4px 1px rgba(0, 0, 0, 0.76);
}


/* Film Container */

.filmsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(450px, 460px));
    grid-gap: 1em;
}


/* Posters */

.posters {
    width: 300px;
    height: 445px;
    border: 2px solid darkgray;
    transition: all 300ms ease-in;
    display: grid;
    grid-template-rows: repeat(3, 152px);
}

.posters:hover {
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.815);
}

.posters h2 {
    text-align: center;
    font-size: 26px;
    padding: 0;
    margin: 0;
    height: 22px;
}

.filmPoster {
    z-index: -1;
    grid-row: 1;
}

img {
    width: 300px;
    height: 445px;
    margin: 0;
    padding: 0;
}


/* Extra infobox(type/year) */

.extra-Info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.type {
    margin: 0;
    text-align: right;
}

.year {
    text-align: left;
    margin: 0;
}

.showWhenHover {
    grid-row: 2, 3;
    display: grid;
    opacity: 0;
    z-index: 9999;
    transition: all 300ms ease-in;
}

.posters:hover>.showWhenHover {
    opacity: 1;
    color: rgba(255, 255, 255, 0.815);
}

.posters:hover>img {
    opacity: 0.2;
    width: 315px;
    height: 460px;
}

.posters:hover {
    background-color: rgba(167, 0, 0, 0.466);
    width: 315px;
    height: 460px;
}


/* Footer */

footer {
    height: 50px;
}


/*693px width */